body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #e4dada;
}

.navbar{
    background: linear-gradient(to right,#0B489C,#0E3B98);
    color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.navbar i{
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar i:hover{
    transform: scale(1.2);
}
.notification-container {
    position: relative;
    display: inline-block;
}

.notification-icon {
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.notification-icon:hover {
    transform: scale(1.1);
}

.notification-dropdown {
    position: absolute;
    left: 0;
    top: 40px;
    width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    display: none;
    overflow: hidden;
    animation: fadeIn 0.3s ease;
    z-index: 1000;
}

.dropdown-title {
    padding: 12px;
    font-weight: bold;
    background: #1e4da1;
    color: white;
    margin: 0;
}

.notification-item {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: 0.3s;
    color: #0E3B98;
}

.notification-item:hover {
    background: #f2f2f2;
}

.notification-item:last-child {
    border-bottom: none;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.05);
    color: #a8c5ff;
}
h5{
    text-align: center;
    font-size: larger;
}